/* css styles */
.navbar-logo {
    width: 35px;
    height: 35px;
    max-height: none;
}

img:hover {
    transform: scale(1.05);
}

img {
    transition: transform 0.2s ease-out;
}

.project-btn {
    transition: transform 0.2s ease-out;
}

.project-btn:hover {
    transform: scale(1.05);
    color: black !important;
    background-color: rgb(255, 212, 59) !important;
}

.nav-item a:hover {
    color: rgb(255, 212, 59) !important;
}

#projects a:hover {
    color: rgb(255, 212, 59) !important;
}
